<div class="px-6 py-6 lg:px-8">
  <%= form_with(model: personal_datum, class: "space-y-6") do |form| %>
    <% if personal_datum.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(personal_datum.errors.count, "error") %> prohibited this personal_datum from being saved:</h2>
        <ul>
          <% personal_datum.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <%= form.label :first_name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
        <%= form.text_field :first_name, required: true, maxlength: 25, value: personal_datum.personal_info["first_name"], class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" %>
      </div>
      <div>
        <%= form.label :last_name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
        <%= form.text_field :last_name, required: true, maxlength: 50, value: personal_datum.personal_info["last_name"], class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" %>
      </div>
    </div>
    <div>
      <%= form.label :nick_name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
      <%= form.text_field :nick_name, required: false, value: personal_datum.personal_info["nick_name"], class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"  %>
    </div>
    <div data-controller="validation">
      <%= form.label :phone_number, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
      <%= form.text_field :phone_number, required: true, as: :numeric, data: { target: "validation.phone",action: "keyup->validation#phoneVerification"}, value: personal_datum.personal_info["phone_number"], class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" %>
    </div>
    <div data-controller="validation">
      <%= form.label :email, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
      <%= form.text_field :email, required: true ,data: { target: "validation.email",action: "keyup->validation#emailVerification"}, value: personal_datum.email, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" %>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <%= form.label :street, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
        <%= form.text_field :street, value: personal_datum.address["street"], class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" %>
      </div>
      <div>
        <%= form.label :city, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
        <%= form.text_field :city, value: personal_datum.address["city"], class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" %>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <%= form.label :state, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
        <%= form.text_field :state, value: personal_datum.address["state"], class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" %>
      </div>
      <div>
        <%= form.label :zip, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-black" %>
        <%= form.text_field :zip, value: personal_datum.address["zip"], class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" %>
      </div>
    </div>
    <%= form.submit class:"w-full my-1.5 py-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  <% end %>
</div>
